*{
    margin: 0;
    color: black;
}

body{
    /* background-color: black; */
    color: white;
    
}

.header{
    display: flex;
    align-items: baseline;  
    margin: 10px;
    gap: 50px;
    /* background-color: red; */
}
.button{
    color: rgb(206, 166, 189);
    /* background-color: yellow; */
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 320px;

}
button{
 border-radius: 10px;
 border-width: 1px;
 }
.images{
    display: flex;
    gap: 5px;
}
.image-cont-2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}